
.open-modal-btn-360 {
    margin-top: 10px;
    padding: 7px 26px;
    border: none;
    outline: none;
    border-radius: 15px;
    background: rgb(161 255 254 / 50%);
    box-shadow: 3px 5px 8px rgb(15 109 115 / 37%);
}

.modal-360 {
    position:absolute;
    z-index:200;
    opacity: 0;
    visibility: hidden;
}
.modal-inner-360 {
    position: relative;
    top: 50%;
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
}
.modal-header-360 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background: #b78e93;
    padding-right: 10px;
}

.modal-header-360 p{
    margin-top:10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    list-style: upper-alpha;
}

.modal-360.show-modal-360{
    opacity: 1;
    visibility: visible;
    transition: .4s;
    position: fixed;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
