@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Poppins&display=swap');

.open-modal-btn-360 {
    padding: 4px 26px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgb(179 200 144 / 61%);
    margin-left: 1px;
}

.modal-360 {
    position:absolute;
    z-index:200;
    opacity: 0;
    visibility: hidden;
}
.modal-inner-360 {
    position: relative;
    top: 50%;
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
}
.modal-header-360 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background: #aac8a7;
    padding-right: 10px;
}

.modal-header-360 p{
    margin-top:10px;
}

.modal-360.show-modal-360{
    opacity: 1;
    visibility: visible;
    transition: .4s;
    position: fixed;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

