#review_content {
    padding-bottom: 10px;
}
#comment {
    height: 96px;
    width: 94%;
    position: absolute;
    top: 11rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-review {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    width: 80%;
}

@media screen and (min-width: 768px) {
    .modal-review {
        top: calc(50%);
    }
}


.modal-review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #00000042;
}

.progress-label-left {
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}

.progress-label-right {
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}

.star-light {
    color: #e9ecef;
}
.modal-review-dialog{
    margin-bottom: 15px;
}
.modal-review.show-form {
    opacity: 1;
    visibility: visible;
    opacity: 1;
    visibility: visible;
    background: #F5FFFA;
    border: 1px solid #a5c5c5;
    box-shadow: 0px 2px 17px #36b6b675;
}

.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0;
}

.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 40px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

#rate-submit {
    color: black;
    width: 30%;
    height: 40px;
    margin-top: 6rem;
    font-size: 20px;
    margin-left: 35%;
    background: #44ee6a;
    border: 1px solid #2db940;
}

#rate-submit:hover {
    color: white;
    background: #198754;
    border: 1px solid #198754;
}

.round-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#review_content .card-cmt {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(137 144 170 / 59%);
    border-radius: 0.25rem;
}

#review_content .card-header-cmt {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(169 210 203 / 47%);
    border-bottom: 1px solid rgb(170 178 205);
}

#review_content .card-body-cmt {
    height: 49px;
    padding: 10px;
}

.comment_container {
    position: relative;
    padding: 40px 0 40px 100px;
    border-bottom: 1px solid #d2cfcf
}

.comment_container:after, .comment_container:before {
    content: " ";
    display: table
}

.comment_container:after {
    clear: both
}

@media screen and (max-width: 768px) {
    .comment_container {
        padding-top: 20px;
        padding-bottom: 20px
    }
}

.comment_container .avatar {
    position: absolute;
    left: 0;
    display: block;
    line-height: 1;
    width: 60px;
    height: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1)
}

.comment_container .comment-text .star-rating-icons {
    float: right !important;
    position: relative;
    top: 8px;
    right: 10px;
}


.comment_container .comment-text .star-rating-icons i:before {
    margin-right: 3px;
    width: 12px
}



.comment_container .comment-text time {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 3px;
    zoom: 1;
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
    filter: alpha(opacity=75)
}

.comment_container .comment-text .meta strong {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300
}

