.img-fluid {
    max-width: 100%;
    height: 240px;
    align-items: center;
}

.slick-prev:before,
.slick-next:before {
    font-family: fontawesome;
    font-size: 30px;
    color: #007bff;
}

.slick-prev:before {
    content: '\f100';
}

.slick-next:before {
    content: '\f101';
}

.card-header h2{
    font-size: 25px;

}
#container-recmt {
    margin-top: 20px!important;
    color:black;
}

