    .category {
      font-size: 40px;
      color: inherit;
      font-family: Roboto;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 2px;
    }

    .name_category {
      font-size: 40px;
      color: #035631;
      font-family: Roboto;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 2px;
    }

    .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color: #0d0d0d;
      text-align: left;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
    }

    .btn-primary {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 4px;
      font-size: 20px;
      color: white;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.1s;
      background-color: #cff2e9;
      font-family: Roboto;
      margin-left: 300px;
    }

    .btn-danger {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 4px;
      font-size: 20px;
      color: white;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.1s;
      background-color: #e78e96;
      font-family: Roboto;
      margin-left: 10px;

    }

    fieldset {
      border: none;
      margin: 16px;
      padding: 0;
    }

    .btn-primary:hover {
      background-color: #2f9345;
    }

    .btn-primary:active {
        box-shadow: 0 0 9e9q inset #0009; 
        background-color: black;
        outline: none;
    }

    .btn-danger:hover {
      background-color: #d73b49;
    }

    .btn-danger:active {
        box-shadow: 0 0 2e2q inset #0009; 
        background-color: black;
        outline: none;
    }

    .imagePreview {
      width: 694%;
      height: 238px;
      background-position: center center;
      background: url(http://cliquecities.com/assets/no-image-e3699ae….jpg);
      background-color: #d8edd6;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    }

    .button {
      margin: -21px;

    }

    body {
      color: #131701;
      background: #E1ECC8;
      font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.471;
    }

    .dropdown-item {
      width: 100%;
      padding: 10px 20px;
    }

    form {
      width: 100%;
      padding: -20px;
      background: #fdfdfd;
      box-shadow: 3 0 8px #073315;
    }

    .colums {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .colums div {
      width: 35%;
    }

    .item {
      display: flex;
      align-items: center;
    }

    .bg-white {
      color: #3b5570;
    }

    
