h1 {
  position: absolute;
  margin: 0;
  font-size: 40px;
  color: #fff;
  z-index: 2;
  line-height: 83px;
}

.main_menu span.fa {
  float: right;
  text-align: right;
  margin-top: 9px;
  font-size: 10px;
  min-width: 10px;
  color: black;
}
.nav.side-menu>li>a, .nav.child_menu>li>a {
  color: #000000;
  font-weight: 100;
  font-size: 14px;
}
.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
}

form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 8px #006622;
}



.colums {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.colums div {
  width: 48%;
}


/* 
@media (min-width: 568px) {

  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-item input,
  .name-item div {
    width: calc(50% - 20px);
  }

  .name-item div input {
    width: 97%;
  }

  .name-item div label {
    display: block;
    padding-bottom: 5px;
  }

  legend {
    font-size: 40px;
    color: inherit;
    font-family: Roboto;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2px;
  }
} */

.category{
        font-size: 40px;
        color: inherit;
        font-family: Roboto;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 2px;
      }
      .name_category{
        font-size: 40px;
        color: #035631;
        font-family: Roboto;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 2px;
      }
      .main_menu span.fa {
          float: right;
          text-align: right;
          margin-top: 9px;
          font-size: 10px;
          min-width: 10px;
          color: black;
      }
      .nav.side-menu>li>a, .nav.child_menu>li>a {
          color: #000000;
          font-weight: 100;
          font-size: 14px;
      }
      .btn-primary {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        color: white;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.1s;
        background-color: #57d699;
        font-family: Roboto;

    }

    .btn-danger {
      width: 150px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        color: white;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.1s;
        background-color: #e78e96;
        font-family: Roboto;

    }

    .col-md-5 {
      width: 694%;
      height: 238px;
      background-position: center center;
      background: url(http://cliquecities.com/assets/no-image-e3699ae….jpg);
      background-color: #d8edd6;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    }
    
    .btn-primary:hover {
        background-color: #2f9345;
    }

    .btn-primary:active {
        box-shadow: 0 0 9e9q inset #0009; 
        background-color: black;
        outline: none;
    }

    .btn-danger:hover {
        background-color: #d73b49;
    }

    .btn-danger:active {
        box-shadow: 0 0 2e2q inset #0009; 
        background-color: black;
        outline: none;
    }
    element.style {
      margin-top: 0px;
      margin-left: 16px;
      border-radius: 12%;
      border: 5px solid black;
      margin-bottom: 40px;
    }
