.form-control {
    margin-left: 40px;
    width: 81%;
}

.username {
    font-size: 36px;
    font-weight: bold;
    color: #0a4d37;
}

body {
    margin: auto;
    background: #eaeaea;
    font-family: 'Open Sans', sans-serif;
}

.info p {
    text-align: center;
    color: #999;
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 2px
}

.info i {
    color: #F6AA93;
}

.user-form h1 {
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: left
}

.user-form {
    border-radius: 5px;
    max-width: 70%;
    width: 100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-top: -15px;
    border:1px solid #ffb5b5;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color: #333;
}

h1 {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin: 50px 0px 0px 0px
}

input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

a {
    text-decoration: inherit
}

textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #eeeeee;
    height: 42px;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.icon-style{
    color:black;
}

.contentform {
    padding: 40px 30px;
}



.leftcontact {
    width: 48.5%;
    float: left;
    box-sizing: border-box;
    margin-left: 15px;
}

.rightcontact {
    width: 48.5%;
    float: right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}

.validation {
    display: none;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 13px;
    color: #DE5959;
}

