
      h1 {
  position: absolute;
  margin: 0;
  font-size: 40px;
  color: #fff;
  z-index: 2;
  line-height: 83px;
}

textarea {
  width: calc(100% - 12px);
  padding: 5px;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
}

form {
  width: 100%;
  padding: -20px;
  background: #fdfdfd;
  box-shadow: 3 0 8px #073315;
}


.colums {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.colums div {
  width: 48%;
}

.main_menu span.fa {
  float: right;
  text-align: right;
  margin-top: 9px;
  font-size: 10px;
  min-width: 10px;
  color: black;
}

.nav.side-menu>li>a,
.nav.child_menu>li>a {
  color: #000000;
  font-weight: 100;
  font-size: 14px;
}

@media (min-width: 568px) {

  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-item input,
  .name-item div {
    width: calc(50% - 20px);
  }

  .name-item div input {
    width: 97%;
  }

  .name-item div label {
    display: block;
    padding-bottom: 5px;

  }

  legend {
    font-size: 40px;
    color: inherit;
    font-family: Roboto;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2px;
  }
}
      
